
* {
  background-color: #FAFAFA
}

.navmenu {
    font-size: 20px;
    background-color: palevioletred;
    justify-content: right;
    align-items: center;
    text-align: left;
    height: 70px;
}
.divbutton{
    display: inline-block;
    border: none;



}
.summary{
    display: inline-block;
}
.boton{
    border: none;
    border-radius: 15%;
}
.divmenu{
    display: inline-block;
    border-radius: 5%;
    margin-right: 30px;
    float: right;
    border: none;
    background-color: transparent;
}
.imagen{
    display: inline-block;
    float: left;
    margin-right: 30px;
}


.title {

}

.subtitle {
  color: #858585;
  font-weight: 600;
}

.div-button {
  margin-top: 35px;
}

.button-more {
  border: 1px solid black;
  font-size: 15px;
  padding: 10px 17px;
  background-color: #151515;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.button-more:hover {
  background-color: #FAFAFA;
  color: #151515;
  border: 1px solid black;
}
